* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: white;
  animation: rainbow 10s cubic-bezier(1, 1, 1, 1) infinite;
}

@keyframes rainbow {
  0% {
    background-color: white;
  }

  50% {
    background-color: #b7dadb;
  }
  100% {
    background-color: white;
  }
}

a {
  color: black;
}

a:hover {
  opacity: 0.5;
}

.container {
  padding: 30px;
}

img {
  width: 500px;
}
