* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vh;
  height: 100vw;
  background-color: #d0e0e3;
  animation: rainbow 15s cubic-bezier(1, 1, 1, 1) infinite;
}

@keyframes rainbow {
  0% {
    background-color: #d0e0e3;
  }
  
  50% {
    background-color: #ecf0f1;
  }

  }
  100% {
    background-color: #d0e0e3;
  }
}

