* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vh;
  height: 100vw;
  background-color: white;
  animation: rainbow 10s cubic-bezier(1, 1, 1, 1) infinite;
}

@keyframes rainbow {
  0% {
    background-color: white;
  }
  
  50% {
background-color:#b7dadb;

  }
  100% {
    background-color: white;
  }
}

