body {
  background-color: plum;
  font-family: sans-serif;
}

h1 #span1 {
  font-family: cursive;
  font-size: 9rem;
}

h1 #span2 {
  font-family: sans-serif;
  font-size: 9rem;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
#typinganimation {
  animation: typewriter 4s steps(40) 1s 1 normal both;
}

#typinganimation2 {
  animation: typewriter 4s steps(40) 4s 1 normal both;
}

#typinganimation3 {
  animation: typewriter 4s steps(40) 8s 1 normal both;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  p {
    text-align: left;
  }

  .line-1 {
    position: relative;
    top: 0%;
    width: auto;
    margin: auto;
    font-size: 180%;
    text-align: center;
    white-space: normal;
    overflow: auto;
    transform: none;
  }

  #typinganimation {
    animation: none;
  }

  #typinganimation2 {
    animation: none;
  }

  #typinganimation3 {
    animation: none;
  }
}
