body {
  background-color: plum;
  font-family: sans-serif;
}

h1 #span1 {
  font-family: cursive;
  font-size: 9rem;
}

h1 #span2 {
  font-family: sans-serif;
  font-size: 9rem;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;

  width: 100vw;
  position: absolute;
  overflow: hidden;
  font-size: 3rem;
  animation: animate 10s linear infinite;
}

.marquee p {
  float: left;
  width: 100%;
}

@keyframes animate {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  p {
    text-align: left;
  }

  .line-1 {
    position: relative;
    top: 0%;
    width: auto;
    margin: auto;
    font-size: 180%;
    text-align: center;
    white-space: normal;
    overflow: auto;
    transform: none;
  }
}
